{% extends "base.html" %}
{% block title %} {% endblock %}
{% block content %}
    <div class="text-center mt-4">
        <h1>Autor projektu</h1>
        <p>Imię i nazwisko: Jakub Żak</p>
        <p>Nr albumu: 241442</p>
    <h4>Pare informacji o autorze: </h4>
    <p>W przyszłości chciałbym zostać wykładowcą (jako druga robota bo nie oszukujmy się człowiek się z tego nie utrzyma), ponieważ interesuje mnie uczenie innych. Poza tym kocham koty i jestem memiarzem.</p>
        <p>Pozdrawiam serdecznie każdego który to czyta</p>
    <p>A tutaj zostawiam link do pięknego koła GameStrategy <a href="https://jakubzak7.github.io/PokerPage/">Link</a>
    </div>
{% endblock %}